<!-- nav -->
  <nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
      <li class="active"><a href="/"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
      <li class="dropdown-submenu">
        <a href="/post_account_list"><i class="fa fa-users"></i><span>发布账号</span></a>
      </li>
      <li class="dropdown-submenu">
        <a href="#"><i class="fa fa-list fa-lg"></i><span>Lists</span></a>
      </li>
      <li><a href="add_account.html"><i class="fa fa-edit fa-lg"></i><span>Form</span></a></li>
      <li><a href="chart.html"><i class="fa fa-signal fa-lg"></i><span>Chart</span></a></li>
      <li class="dropdown-submenu">
        <a href="#"><i class="fa fa-link fa-lg"></i><span>Others</span></a>
      </li>
    </ul>
  </nav>
  <!-- / nav -->