{% include "header.html" %}
{% include "nav.html" %}
  <section id="content">
    <section class="main padder">
      <div class="clearfix">
        <h4><i class="fa fa-table"></i> 发布账号列表</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              <span class="label pull-right"><a class="btn btn-sm btn-info" data-toggle="modal" href="/add_account"><i class="fa fa-fw fa-plus"></i> Add account</a></span>
            </header>
            <div>
              <table class="table table-striped m-b-none text-small">
                <thead>
                  <tr>
                    <th>所属网站</th>
                    <th>用户名</th>
                    <th width="150">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td>
                        58同城
                    </td>
                    <td>App prototype design</td>
                    <td class="text-left">
                      <div class="btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="tooltip" data-original-title="详情"><i class="fa fa-info-circle"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="dropdown-toggle" data-toggle="tooltip" data-original-title="修改"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="dropdown-toggle" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="dropdown-toggle" data-toggle="tooltip" data-original-title=""></a>&nbsp;&nbsp;&nbsp;&nbsp;
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </section>
{% include "footer.html" %}
  <script>
    $(function(){
      $("#delete").click(function(){
        var r=confirm("你确定要删除吗？");
        if (r==true) {

        } else {

        }
      })
    });
  </script>